<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head"></head>

<body class="html body">

<nav class="navbar navbar-expand-md fixed-top navbar-light navbar-color">
    <div class="container-fluid">
        <a class="navbar-brand" style="color: white" href="/">GarageNerds</a>

        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#toggleMobileMenu"
                aria-controls="toggleMobileMenu"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="toggleMobileMenu">
            <ul class="nav navbar-nav navbar-navs navbar-text text-center ms-auto ">

                <li><a class="nav-link navbar-hover" href="/user/profile" style="color: white">
                    <i class="bi bi-file-person" style="color: white"></i> Profile</a></li>

                <li><a class="nav-link navbar-hover" href="/user/logout" style="color: white">
                    <i class="bi bi-box-arrow-right" style="color: white"></i> Logout</a></li>

            </ul>
        </div>
    </div>
</nav>
<main>

    <div class="add-car" th:object="${id}">
        <h1>Add visit</h1>
        <form th:object="${visitAddBindingModel}" th:action="@{/visit/add/(id=${id})}" method="POST">

            <div>
                <p>Date</p>
                <input th:field="*{date}" th:errorclass="bg-danger" type="date" name="date"
                       placeholder="Enter desired date">
            </div>

            <input type="submit" name="submit" value="Add visit">
        </form>
    </div>

</main>

</body>
</html>